# Import Necessary Libraries

In [1]:
import re
import numpy as np
from numpy import isnan
import pandas as pd
from sklearn.impute import SimpleImputer
from collections import Counter

### Converting tsv file into csv file

In [2]:
# with open("/content/drive/MyDrive/ZeroDown/weekly_market_2017_2022.tsv", 'r') as myfile:
#   with open("/content/drive/MyDrive/ZeroDown/DataSet.csv", 'w') as csv_file:
#     for line in myfile:
#       fileContent = re.sub("\t", ",", line)
#       csv_file.write(fileContent)

###Data Preprocessing

In [3]:
df = pd.read_csv("/content/drive/MyDrive/ZeroDown/DataSet.csv",index_col = False)

In [4]:
df['index'] = df.index
first_column = df.pop('index')
df.insert(0, 'index', first_column)

In [6]:
df.head()

,index,region_id,region_type_id,region_name,region_type,period_begin,period_end,duration,total_homes_sold,total_homes_sold_yoy,...,average_adjustment_average_homes_sold,adjusted_average_homes_sold,average_adjustment_average_new_listings,adjusted_average_new_listings,average_adjustment_pending_sales,adjusted_pending_sales,adjusted_average_homes_delisted_yoy,adjusted_average_homes_sold_yoy,adjusted_average_new_listings_yoy,adjusted_pending_sales_yoy
0,0,441,5,"Brevard County, FL",county,2021-04-12,2021-04-18,1 weeks,334.0,0.629268,...,NaN,334.0,NaN,283.0,NaN,284.0,-0.512195,0.629268,0.132000,1.103704
1,1,441,5,"Brevard County, FL",county,2019-03-18,2019-03-24,1 weeks,248.0,-0.057034,...,NaN,248.0,NaN,291.0,NaN,147.0,0.000000,-0.057034,-0.115502,-0.051613
2,2,682,5,"Caribou County, ID",county,2017-03-13,2017-03-19,1 weeks,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,155,5,"Jefferson County, AL",county,2018-03-26,2018-04-01,1 weeks,283.0,0.092664,...,NaN,283.0,NaN,216.0,NaN,182.0,-0.352941,0.092664,-0.175573,0.300000
4,4,441,5,"Brevard County, FL",county,2019-07-29,2019-08-04,1 weeks,364.0,0.120000,...,NaN,364.0,NaN,296.0,NaN,219.0,0.106383,0.120000,-0.175487,0.123077

In [7]:
shape = df.shape
shape

(1945431, 99)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1945431 entries, 0 to 1945430
Data columns (total 99 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   index                                         int64
 1   region_id                                     int64
 2   region_type_id                                int64
 3   region_name                                   object
 4   region_type                                   object
 5   period_begin                                  object
 6   period_end                                    object
 7   duration                                      object
 8   total_homes_sold                              float64
 9   total_homes_sold_yoy                          float64
 10  average_homes_sold                            float64
 11  average_homes_sold_yoy                        float64
 12  total_homes_sold_with_price_drops             float64
 13  total_homes_sold_with_price_drops_yoy         float64
 14  average_homes_sold_with_price_drops           float64
 15  average_homes_sold_with_price_drops_yoy       float64
 16  percent_homes_sold_with_price_drops           float64
 17  percent_homes_sold_with_price_drops_yoy       float64
 18  median_sale_price                             float64
 19  median_sale_price_yoy                         float64
 20  median_sale_ppsf                              float64
 21  median_sale_ppsf_yoy                          float64
 22  median_days_to_close                          float64
 23  median_days_to_close_yoy                      float64
 24  price_drops                                   float64
 25  price_drops_yoy                               float64
 26  percent_active_listings_with_price_drops      float64
 27  percent_active_listings_with_price_drops_yoy  float64
 28  pending_sales                                 float64
 29  pending_sales_yoy                             float64
 30  median_pending_sqft                           float64
 31  median_pending_sqft_yoy                       float64
 32  off_market_in_two_weeks                       float64
 33  off_market_in_two_weeks_yoy                   float64
 34  off_market_in_one_week                        float64
 35  off_market_in_one_week_yoy                    float64
 36  percent_off_market_in_two_weeks               float64
 37  percent_off_market_in_two_weeks_yoy           float64
 38  percent_off_market_in_one_week                float64
 39  percent_off_market_in_one_week_yoy            float64
 40  total_new_listings                            float64
 41  total_new_listings_yoy                        float64
 42  average_new_listings                          float64
 43  average_new_listings_yoy                      float64
 44  median_new_listing_price                      float64
 45  median_new_listing_price_yoy                  float64
 46  median_new_listing_ppsf                       float64
 47  median_new_listing_ppsf_yoy                   float64
 48  inventory                                     float64
 49  inventory_yoy                                 float64
 50  total_active_listings                         float64
 51  total_active_listings_yoy                     float64
 52  active_listings                               float64
 53  active_listings_yoy                           float64
 54  age_of_inventory                              float64
 55  age_of_inventory_yoy                          float64
 56  homes_delisted                                float64
 57  homes_delisted_yoy                            float64
 58  percent_active_listings_delisted              float64
 59  percent_active_listings_delisted_yoy          float64
 60  median_active_list_price                      float64
 61  median_active_list_price_yoy                  float64
 62  median_active_list_ppsf                       float64
 63  median_active_list_ppsf_yoy                   float64
 64  average_of_median_list_price_amount           float64
 65  average_of_median_list_price_amount_yoy       float64
 66  average_of_median_offer_price_amount          float64
 67  average_of_median_offer_price_amount_yoy      float64
 68  avg_offer_to_list                             float64
 69  avg_offer_to_list_yoy                         float64
 70  average_sale_to_list_ratio                    float64
 71  average_sale_to_list_ratio_yoy                float64
 72  median_days_on_market                         float64
 73  median_days_on_market_yoy                     float64
 74  pending_sales_to_sales_ratio                  float64
 75  pending_sales_to_sales_ratio_yoy              float64
 76  months_of_supply                              float64
 77  months_of_supply_yoy                          float64
 78  average_pending_sales_listing_updates         float64
 79  average_pending_sales_listing_updates_yoy     float64
 80  percent_total_price_drops_of_inventory        float64
 81  percent_total_price_drops_of_inventory_yoy    float64
 82  percent_homes_sold_above_list                 float64
 83  percent_homes_sold_above_list_yoy             float64
 84  price_drop_percent_of_old_list_price          float64
 85  price_drop_percent_of_old_list_price_yoy      float64
 86  last_updated                                  object
 87  average_adjustment_average_homes_delisted     float64
 88  adjusted_average_homes_delisted               float64
 89  average_adjustment_average_homes_sold         float64
 90  adjusted_average_homes_sold                   float64
 91  average_adjustment_average_new_listings       float64
 92  adjusted_average_new_listings                 float64
 93  average_adjustment_pending_sales              float64
 94  adjusted_pending_sales                        float64
 95  adjusted_average_homes_delisted_yoy           float64
 96  adjusted_average_homes_sold_yoy               float64
 97  adjusted_average_new_listings_yoy             float64
 98  adjusted_pending_sales_yoy                    float64
dtypes: float64(90), int64(3), object(6)
memory usage: 1.4+ GB

In [9]:
df.isnull().sum()

index                                       0
region_id                                   0
region_type_id                              0
region_name                                 0
region_type                                 0
                                        ...
adjusted_pending_sales                 387218
adjusted_average_homes_delisted_yoy    719549
adjusted_average_homes_sold_yoy        324949
adjusted_average_new_listings_yoy      284697
adjusted_pending_sales_yoy             510427
Length: 99, dtype: int64

In [10]:
null1 = df.isnull().sum().sum()
print("Total number of Missing Values:",null1)

Total number of Missing Values: 48780668

In [11]:
row_thresh = int(shape[1]/2)  # Divide the number of rows by 2
col_thresh = int(shape[0]/2)  # Divide the number of columns by 2

In [12]:
df.dropna(thresh = row_thresh, inplace= True )

In [13]:
df.dropna(thresh = col_thresh ,axis = 1, inplace= True)

In [14]:
null2 = df.isnull().sum().sum()
null2

11761078

In [15]:
cols_rem_nan = df.columns
cols_rem_nan

Index(['index', 'region_id', 'region_type_id', 'region_name', 'region_type',
       'period_begin', 'period_end', 'duration', 'total_homes_sold',
       'total_homes_sold_yoy', 'average_homes_sold', 'average_homes_sold_yoy',
       'total_homes_sold_with_price_drops',
       'total_homes_sold_with_price_drops_yoy',
       'average_homes_sold_with_price_drops',
       'average_homes_sold_with_price_drops_yoy',
       'percent_homes_sold_with_price_drops',
       'percent_homes_sold_with_price_drops_yoy', 'median_sale_price',
       'median_sale_price_yoy', 'median_sale_ppsf', 'median_sale_ppsf_yoy',
       'median_days_to_close', 'median_days_to_close_yoy', 'price_drops',
       'price_drops_yoy', 'percent_active_listings_with_price_drops',
       'percent_active_listings_with_price_drops_yoy', 'pending_sales',
       'pending_sales_yoy', 'median_pending_sqft', 'median_pending_sqft_yoy',
       'off_market_in_two_weeks', 'off_market_in_one_week',
       'percent_off_market_in_two_weeks',
       'percent_off_market_in_two_weeks_yoy', 'percent_off_market_in_one_week',
       'percent_off_market_in_one_week_yoy', 'total_new_listings',
       'total_new_listings_yoy', 'average_new_listings',
       'average_new_listings_yoy', 'median_new_listing_price',
       'median_new_listing_price_yoy', 'median_new_listing_ppsf',
       'median_new_listing_ppsf_yoy', 'inventory', 'inventory_yoy',
       'total_active_listings', 'total_active_listings_yoy', 'active_listings',
       'active_listings_yoy', 'age_of_inventory', 'age_of_inventory_yoy',
       'homes_delisted', 'homes_delisted_yoy',
       'percent_active_listings_delisted',
       'percent_active_listings_delisted_yoy', 'median_active_list_price',
       'median_active_list_price_yoy', 'median_active_list_ppsf',
       'median_active_list_ppsf_yoy', 'average_sale_to_list_ratio',
       'average_sale_to_list_ratio_yoy', 'median_days_on_market',
       'median_days_on_market_yoy', 'pending_sales_to_sales_ratio',
       'pending_sales_to_sales_ratio_yoy', 'months_of_supply',
       'months_of_supply_yoy', 'average_pending_sales_listing_updates',
       'average_pending_sales_listing_updates_yoy',
       'percent_total_price_drops_of_inventory',
       'percent_total_price_drops_of_inventory_yoy',
       'percent_homes_sold_above_list', 'percent_homes_sold_above_list_yoy',
       'price_drop_percent_of_old_list_price',
       'price_drop_percent_of_old_list_price_yoy', 'last_updated',
       'adjusted_average_homes_delisted', 'adjusted_average_homes_sold',
       'adjusted_average_new_listings', 'adjusted_pending_sales',
       'adjusted_average_homes_delisted_yoy',
       'adjusted_average_homes_sold_yoy', 'adjusted_average_new_listings_yoy',
       'adjusted_pending_sales_yoy'],
      dtype='object')

In [16]:
df.shape

(1653419, 87)

In [17]:
print("Number of missing values removed from the dataframe:",null1-null2)

Number of missing values removed from the dataframe: 37019590

##Handling Missing Values:

###Handling missing numerical values:

In [18]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_df = df.select_dtypes(include=numerics)

In [19]:
numeric_cols = numeric_df.columns
numeric_cols

Index(['index', 'region_id', 'region_type_id', 'total_homes_sold',
       'total_homes_sold_yoy', 'average_homes_sold', 'average_homes_sold_yoy',
       'total_homes_sold_with_price_drops',
       'total_homes_sold_with_price_drops_yoy',
       'average_homes_sold_with_price_drops',
       'average_homes_sold_with_price_drops_yoy',
       'percent_homes_sold_with_price_drops',
       'percent_homes_sold_with_price_drops_yoy', 'median_sale_price',
       'median_sale_price_yoy', 'median_sale_ppsf', 'median_sale_ppsf_yoy',
       'median_days_to_close', 'median_days_to_close_yoy', 'price_drops',
       'price_drops_yoy', 'percent_active_listings_with_price_drops',
       'percent_active_listings_with_price_drops_yoy', 'pending_sales',
       'pending_sales_yoy', 'median_pending_sqft', 'median_pending_sqft_yoy',
       'off_market_in_two_weeks', 'off_market_in_one_week',
       'percent_off_market_in_two_weeks',
       'percent_off_market_in_two_weeks_yoy', 'percent_off_market_in_one_week',
       'percent_off_market_in_one_week_yoy', 'total_new_listings',
       'total_new_listings_yoy', 'average_new_listings',
       'average_new_listings_yoy', 'median_new_listing_price',
       'median_new_listing_price_yoy', 'median_new_listing_ppsf',
       'median_new_listing_ppsf_yoy', 'inventory', 'inventory_yoy',
       'total_active_listings', 'total_active_listings_yoy', 'active_listings',
       'active_listings_yoy', 'age_of_inventory', 'age_of_inventory_yoy',
       'homes_delisted', 'homes_delisted_yoy',
       'percent_active_listings_delisted',
       'percent_active_listings_delisted_yoy', 'median_active_list_price',
       'median_active_list_price_yoy', 'median_active_list_ppsf',
       'median_active_list_ppsf_yoy', 'average_sale_to_list_ratio',
       'average_sale_to_list_ratio_yoy', 'median_days_on_market',
       'median_days_on_market_yoy', 'pending_sales_to_sales_ratio',
       'pending_sales_to_sales_ratio_yoy', 'months_of_supply',
       'months_of_supply_yoy', 'average_pending_sales_listing_updates',
       'average_pending_sales_listing_updates_yoy',
       'percent_total_price_drops_of_inventory',
       'percent_total_price_drops_of_inventory_yoy',
       'percent_homes_sold_above_list', 'percent_homes_sold_above_list_yoy',
       'price_drop_percent_of_old_list_price',
       'price_drop_percent_of_old_list_price_yoy',
       'adjusted_average_homes_delisted', 'adjusted_average_homes_sold',
       'adjusted_average_new_listings', 'adjusted_pending_sales',
       'adjusted_average_homes_delisted_yoy',
       'adjusted_average_homes_sold_yoy', 'adjusted_average_new_listings_yoy',
       'adjusted_pending_sales_yoy'],
      dtype='object')

In [20]:
print("Number of Columns of Numeric data type:",len(numeric_cols))
print("Number of Columns of Object data type:",len(cols_rem_nan) - len(numeric_cols))

Number of Columns of Numeric data type: 81
Number of Columns of Object data type: 6

In [21]:
res = list((Counter(cols_rem_nan)-Counter(numeric_cols)).elements())
res

['region_name',
 'region_type',
 'period_begin',
 'period_end',
 'duration',
 'last_updated']

In [22]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [23]:
imputer = imputer.fit(numeric_df)
imputed = imputer.transform(numeric_df.values)
print(imputed)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  "X does not have valid feature names, but"

[[ 0.00000000e+00  4.41000000e+02  5.00000000e+00 ...  6.29268293e-01
   1.32000000e-01  1.10370370e+00]
 [ 1.00000000e+00  4.41000000e+02  5.00000000e+00 ... -5.70342205e-02
  -1.15501520e-01 -5.16129032e-02]
 [ 3.00000000e+00  1.55000000e+02  5.00000000e+00 ...  9.26640927e-02
  -1.75572519e-01  3.00000000e-01]
 ...
 [ 1.94542800e+06  2.96500000e+03  5.00000000e+00 ...  3.15614618e-01
   3.44647520e-01  5.33088235e-01]
 [ 1.94542900e+06  2.77600000e+03  5.00000000e+00 ...  2.27526708e-01
   0.00000000e+00  3.62764810e-01]
 [ 1.94543000e+06  3.37000000e+04 -2.00000000e+00 ...  8.84955752e-02
   5.04672897e-01  1.49425287e-01]]

In [24]:
imputed_df = pd.DataFrame(imputed, columns = numeric_df.columns)

In [25]:
imputed_df.head()

,index,region_id,region_type_id,total_homes_sold,total_homes_sold_yoy,average_homes_sold,average_homes_sold_yoy,total_homes_sold_with_price_drops,total_homes_sold_with_price_drops_yoy,average_homes_sold_with_price_drops,...,price_drop_percent_of_old_list_price,price_drop_percent_of_old_list_price_yoy,adjusted_average_homes_delisted,adjusted_average_homes_sold,adjusted_average_new_listings,adjusted_pending_sales,adjusted_average_homes_delisted_yoy,adjusted_average_homes_sold_yoy,adjusted_average_new_listings_yoy,adjusted_pending_sales_yoy
0,0.0,441.0,5.0,334.0,0.629268,334.0,0.629268,66.0,0.269231,66.0,...,0.045844,0.010826,20.0,334.0,283.0,284.0,-0.512195,0.629268,0.132000,1.103704
1,1.0,441.0,5.0,248.0,-0.057034,248.0,-0.057034,0.0,-1.000000,0.0,...,0.030491,-0.017128,40.0,248.0,291.0,147.0,0.000000,-0.057034,-0.115502,-0.051613
2,3.0,155.0,5.0,283.0,0.092664,283.0,0.092664,83.0,0.257576,83.0,...,0.078859,0.019661,33.0,283.0,216.0,182.0,-0.352941,0.092664,-0.175573,0.300000
3,4.0,441.0,5.0,364.0,0.120000,364.0,0.120000,2.0,0.000000,2.0,...,0.048337,-0.000526,52.0,364.0,296.0,219.0,0.106383,0.120000,-0.175487,0.123077
4,5.0,441.0,5.0,270.0,0.054688,270.0,0.054688,64.0,0.066667,64.0,...,0.040798,0.005608,28.0,270.0,330.0,243.0,-0.096774,0.054688,0.141869,0.162679

In [26]:
imputed_df.isnull().sum().sum()

0

###Handling missing categorical values:

In [27]:
df_cat = df[['index','region_name','region_type','period_begin','period_end','duration','last_updated']]

In [28]:
df_cat.shape

(1653419, 7)

In [29]:
imputer1 = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [30]:
imputer_cat = imputer1.fit(df_cat)
imputed1 = imputer_cat.transform(df_cat.values)
print(imputer_cat)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  "X does not have valid feature names, but"

SimpleImputer(strategy='most_frequent')

In [31]:
imputed_df1 = pd.DataFrame(df_cat, columns = df_cat.columns)

In [32]:
imputed_df1.head()

,index,region_name,region_type,period_begin,period_end,duration,last_updated
0,0,"Brevard County, FL",county,2021-04-12,2021-04-18,1 weeks,2022-03-23 17:53:25
1,1,"Brevard County, FL",county,2019-03-18,2019-03-24,1 weeks,2022-03-23 17:53:25
3,3,"Jefferson County, AL",county,2018-03-26,2018-04-01,1 weeks,2022-03-23 17:53:25
4,4,"Brevard County, FL",county,2019-07-29,2019-08-04,1 weeks,2022-03-23 17:53:25
5,5,"Brevard County, FL",county,2021-11-08,2021-11-14,1 weeks,2022-03-23 17:53:25

In [33]:
imputed_df1.isnull().sum()

index           0
region_name     0
region_type     0
period_begin    0
period_end      0
duration        0
last_updated    0
dtype: int64

In [34]:
House_market_Dynamics = pd.merge(imputed_df, df_cat, on='index')

In [35]:
House_market_Dynamics.shape

(1653419, 87)

In [36]:
House_market_Dynamics.isnull().sum().sum()

0

In [37]:
# Final dataset after dealing with missing values
House_market_Dynamics.head()

,index,region_id,region_type_id,total_homes_sold,total_homes_sold_yoy,average_homes_sold,average_homes_sold_yoy,total_homes_sold_with_price_drops,total_homes_sold_with_price_drops_yoy,average_homes_sold_with_price_drops,...,adjusted_average_homes_delisted_yoy,adjusted_average_homes_sold_yoy,adjusted_average_new_listings_yoy,adjusted_pending_sales_yoy,region_name,region_type,period_begin,period_end,duration,last_updated
0,0.0,441.0,5.0,334.0,0.629268,334.0,0.629268,66.0,0.269231,66.0,...,-0.512195,0.629268,0.132000,1.103704,"Brevard County, FL",county,2021-04-12,2021-04-18,1 weeks,2022-03-23 17:53:25
1,1.0,441.0,5.0,248.0,-0.057034,248.0,-0.057034,0.0,-1.000000,0.0,...,0.000000,-0.057034,-0.115502,-0.051613,"Brevard County, FL",county,2019-03-18,2019-03-24,1 weeks,2022-03-23 17:53:25
2,3.0,155.0,5.0,283.0,0.092664,283.0,0.092664,83.0,0.257576,83.0,...,-0.352941,0.092664,-0.175573,0.300000,"Jefferson County, AL",county,2018-03-26,2018-04-01,1 weeks,2022-03-23 17:53:25
3,4.0,441.0,5.0,364.0,0.120000,364.0,0.120000,2.0,0.000000,2.0,...,0.106383,0.120000,-0.175487,0.123077,"Brevard County, FL",county,2019-07-29,2019-08-04,1 weeks,2022-03-23 17:53:25
4,5.0,441.0,5.0,270.0,0.054688,270.0,0.054688,64.0,0.066667,64.0,...,-0.096774,0.054688,0.141869,0.162679,"Brevard County, FL",county,2021-11-08,2021-11-14,1 weeks,2022-03-23 17:53:25

In [38]:
#Saving the dataset as a csv file
House_market_Dynamics.to_csv('House_market_Dynamics.csv')